{% extends 'music/base.html' %}

{% block body %}
  <img src="{{album.album_logo}}">
  <h1>Album Title: {{album.album_title}}</h1>
  <h3>Artist: {{ album.artist }}</h3>


  {% if error_message%}
    <p>{{error_message}}</p>
  {% endif %}

  <form action="{% url 'music:favorite' album.id %}" method="post">
    {% csrf_token %}
    {% for song in album.song_set.all %}
      <input type="radio" id="song{{forloop.counter}}" name="song" value="{{ song.id }}" />
      <label for="song{{forloop.counter}}">
        {{ song.song_title}}
        {% if song.is_favorite %}
          *
        {% endif %}
      </label><br>
    {% endfor %}
    <br>
    <input type="submit" value="Favorite" />
  </form>
{% endblock %}
<!-- <form action="{% url 'music:favorite' album.id %}">
  Search: <input type="text" name="fname"><br>
  <input type="submit" value="Submit">
</form> -->


  <!-- <ul>
    {% for song in album.song_set.all %}
    <li>{{ song.song_title }} - {{ song.file_type }}</a></li>
    {% endfor %}
  </ul> -->


<!-- <h4>  {{ album.album_title }} - {{ album.artist }} </h4> -->
